@charset "UTF-8";
/* ---------------------importation police de caractère ---------------------- */
/* ---------------------import font of character ---------------------- */
@import url("./bootstrap-icons-1.3.0/bootstrap-icons.css");
@font-face {
  font-family: "Merendia-Bold";
  src: url("./bootstrap-icons-1.3.0/fonts/Merienda-Bold.ttf");
}

@font-face {
  font-family: "Merendia-Regular";
  src: url("./bootstrap-icons-1.3.0/fonts/Merienda-Regular.ttf");
}

/* ---------------------importation police de caractère ---------------------- */
/* ---------------------import font of character ---------------------- */
/*--------------------------- VARIABLE ---------------------*/
.body_nos_missions {
  background: #c6e4f8;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  overflow-x: hidden;
  max-width: 100%;
}

.acceuil {
  font-size: 1em;
  text-align: center;
  font-family: "merendia-regular", cursif;
}

.titre_nos_missions, .titre_qui_sommes_nous {
  font-size: 2em;
  padding-top: 2em;
  font-family: "merendia-Bold", cursif;
}

.margin_icons_mission h2, .margin_media_queries h2 {
  margin-top: 1em;
  font-size: 1.5em;
  font-family: "merendia-Bold", cursif;
}

.margin_icons_mission {
  margin: 1em 2.5em 0 2.5em;
  height: 100%;
  width: 13em;
}

.margin_media_queries {
  margin: -4.5em 2.5em 0 2.5em;
  height: 100%;
  width: 13em;
}

header {
  background: #0000ff;
}

.logo {
  height: 9.4em;
  padding: 0;
  margin: 0;
}

.boxImage {
  position: relative;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0;
  margin: 0;
}

/* Effet de transition de couleur dans le bouton donation.
                       Je voulais faire un lien pour changer la couleur directement du CSS
                       dans le vecteur que j'ai créé met ce n'est pas possible à partir du moment où c'est un bouton, 
                       j'avais réussi à produire l'effet de transition avec les médias (embed) met il n'œuvrait plus sous forme de bouton
                       d'onc j'ai superposé deux images sur le  bouton.  */
.donation_blue {
  opacity: 1;
  border: transparent;
}

.donation_hover_salamandre {
  opacity: 0;
  border: transparent;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.donation_hover_salamandre:hover {
  opacity: 1;
}

.donation {
  opacity: 0;
  border: transparent;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  -webkit-animation: donation 1s 5;
          animation: donation 1s 5;
}

.donation:hover {
  opacity: 1;
}

/*----------------- section nos missions -----------------*/
.margin_media_queries div {
  height: 150px;
}

/* j'ai désiré faire le média queries avec Bootstrap met je n'y suis pas parvenu, alors je l'ai fait en CSS */
/* un média queries pour remonter le logo de l'œil du texte ÉDUQUER */
@media screen and (min-width: 768px) {
  .margin_media_queries {
    margin: 2em 2.5em 0 2.5em;
  }
  .margin_icons_mission {
    margin-top: 2em;
  }
}

/*------------------------ section QUI SOMMES NOUS -------------------------------*/
.qui_sommes_nous {
  background: #afd9f5;
}

.titre_qui_sommes_nous {
  margin-bottom: 2em;
}
/*# sourceMappingURL=style.css.map */