                    /* ---------------------importation police de caractère ---------------------- */
                    /* ---------------------import font of character ---------------------- */
                    
                    @import url("./bootstrap-icons-1.3.0/bootstrap-icons.css");
                    @font-face {
                        font-family: "Merendia-Bold";
                        src: url("./bootstrap-icons-1.3.0/fonts/Merienda-Bold.ttf");
                    }
                    
                    @font-face {
                        font-family: "Merendia-Regular";
                        src: url("./bootstrap-icons-1.3.0/fonts/Merienda-Regular.ttf");
                    }
                    /* ---------------------importation police de caractère ---------------------- */
                    /* ---------------------import font of character ---------------------- */
                    /*--------------------------- VARIABLE ---------------------*/
                    
                    $merendia_skinny: "merendia-regular",
                    cursif;
                    $merendia_fat: "merendia-Bold",
                    cursif;
                    $color_blue_light: #c6e4f8;
                    $color_icons_footer: rgb(202,
                    202,
                    202);
                    %formate_body {
                        background: $color_blue_light;
                        padding: 0;
                        margin: 0;
                        box-sizing: content-box;
                        overflow-x: hidden;
                        max-width: 100%;
                    }
                    
                    %texte-style {
                        font-size: 1em;
                        text-align: center;
                        font-family: $merendia_skinny;
                    }
                    
                    %titre {
                        font-size: 2em;
                        padding-top: 2em;
                        font-family: $merendia_fat;
                    }
                    
                    %h2_mission {
                        margin-top: 1em;
                        font-size: 1.5em;
                        font-family: $merendia_fat;
                    }
                    
                    %margin_mision {
                        margin: 1em 2.5em 0 2.5em;
                        height: 100%;
                        width: 13em;
                    }
                    
                    %margin_mision_media_queries {
                        margin: -4.5em 2.5em 0 2.5em;
                        height: 100%;
                        width: 13em;
                    }
                    
                    %margin_icons_notre_equipe {
                        width: 4em;
                        margin: 0.2em 0 2em 0;
                    }
                    
                    header {
                        background: #0000ff;
                    }
                    
                    .body_nos_missions {
                        @extend %formate_body;
                    }
                    
                    .logo {
                        height: 9.4em;
                        padding: 0;
                        margin: 0;
                    }
                    
                    .boxImage {
                        position: relative;
                        box-sizing: content-box;
                        padding: 0;
                        margin: 0;
                    }
                    /* Effet de transition de couleur dans le bouton donation.
                       Je voulais faire un lien pour changer la couleur directement du CSS
                       dans le vecteur que j'ai créé met ce n'est pas possible à partir du moment où c'est un bouton, 
                       j'avais réussi à produire l'effet de transition avec les médias (embed) met il n'œuvrait plus sous forme de bouton
                       d'onc j'ai superposé deux images sur le  bouton.  */
                    
                    .donation_blue {
                        opacity: 1;
                        border: transparent;
                    }
                    
                    .donation_hover_salamandre {
                        opacity: 0;
                        border: transparent;
                        transition: opacity 1s;
                        &:hover {
                            opacity: 1;
                        }
                    }
                    
                    .donation {
                        opacity: 0;
                        border: transparent;
                        transition: opacity 1s;
                        animation: donation 1s 5;
                        &:hover {
                            opacity: 1;
                        }
                    }
                    /*j'ajoute un clignotement dans le bouton donation de la NavBar
                    pour que les téléphones portables sachent que c'est un bouton!
                    (Vue que sur les téléphones le hover ne fonctionne pas)*/
                    
                    @keyframes donation {
                        0% {
                            opacity: 0;
                        }
                        50% {
                            opacity: 1;
                        }
                        100% {
                            opacity: 0;
                        }
                    }
                    /*--------------------formulaire de donation en modal avec Javascript--------------------*/
                    
                    .BoxDonLibre {
                        width: 13em;
                        height: 7em;
                        position: relative;
                        border: rgba(0, 0, 255, 0.644) solid 2px;
                        border-radius: 1em;
                        left: 0em;
                        top: 3.8em;
                        p {
                            font-weight: 700;
                        }
                    }
                    
                    .btn-close {
                        position: absolute;
                        top: 1.25%;
                        right: 3%;
                    }
                    
                    .donation_modal {
                        margin: 0 10% 0 10%;
                        width: 80%;
                        height: 100%;
                    }
                    
                    .iconeEuro10 {
                        position: relative;
                        bottom: 0.6em;
                    }
                    
                    .texte_donation_libre {
                        border: rgba(0, 0, 255, 0.644) solid 0.15em;
                        border-radius: 0.5em;
                        margin: 2em auto 1em auto;
                        width: 15em;
                        height: 100%;
                        p {
                            font-weight: 500;
                            margin: 0.3em 0 0.4em 0;
                        }
                    }
                    
                    .modal-content {
                        background-color: rgba(255, 255, 255, 0.842);
                        box-shadow: inset 0px 0px 16px 6px rgba(0, 0, 0, 0.623);
                        border: rgb(83, 83, 83) solid 1px;
                    }
                    
                    .BoxFooterModal {
                        margin: 6em 0 0.5em 0;
                    }
                    /* un média queries pour le formulaire en modal */
                    
                    @media screen and (min-width: 768px) {
                        .texte_donation_libre {
                            border: rgba(0, 0, 0, 0.644) solid 0.1em;
                            border-radius: 0.5em;
                            margin: 2em auto 1em auto;
                            width: 25em;
                            height: 100%;
                            p {
                                font-weight: 400;
                                margin: 0.9em 0 1em 0;
                            }
                        }
                        .donation_modal {
                            margin: 0;
                            width: 100vw;
                            height: 100vh;
                        }
                        .BoxDonLibre {
                            width: 13em;
                            height: 7em;
                            position: relative;
                            left: 2.7em;
                            top: -10.2em;
                            border: rgba(0, 0, 0, 0.644) solid 0.1em;
                            border-radius: 1em;
                            p {
                                font-weight: 400;
                            }
                        }
                        .btn-close {
                            position: absolute;
                            top: 1.25%;
                            right: 3%;
                        }
                        .iconeEuro10 {
                            position: relative;
                            bottom: 0.5em;
                        }
                        .BoxFooterModal {
                            position: relative;
                            top: -3em;
                            margin: 0;
                        }
                        .modal-content {
                            background-color: rgba(255, 255, 255, 0.842);
                            box-shadow: inset 0px 0px 16px 6px rgba(0, 0, 0, 0.623);
                            border: rgb(83, 83, 83) solid 1px;
                        }
                        .BoxFooterModal {
                            margin: 0 0 -2.5em 0;
                        }
                    }
                    /*----------------- modification du texte  Navbar de Bootstrap avec les @médias queries -----------------*/
                    
                    .nav-link {
                        @media screen and (min-width: 576px) {
                            margin: 0.6em;
                            text-align: center;
                            transform: scale(1.2, 1.8);
                            font-weight: 700;
                            font-size: 51%;
                        }
                        @media screen and (min-width: 624px) {
                            text-align: center;
                            transform: scale(1.2, 1.7);
                            font-weight: 700;
                            font-size: 57.9%;
                        }
                        @media screen and (min-width: 715px) {
                            font-size: 70%;
                            transform: scale(1, 1.5);
                        }
                        @media screen and (min-width: 807px) {
                            transform: none;
                            font-size: 95%;
                            margin: 0;
                        }
                    }
                    /*----------------- correction positionnement du popper avec les @médias queries -----------------*/
                    
                    .dropdown-menu[data-bs-popper] {
                        float: left;
                        @media screen and (min-width: 576px) {
                            top: 100%;
                            left: -50%;
                            margin-top: .125rem;
                        }
                        @media screen and (min-width: 887px) {
                            top: 100%;
                            left: 0;
                            margin-top: .125rem;
                        }
                    }
                    /*----------------- section nos missions -----------------*/
                    
                    .acceuil {
                        @extend %texte-style;
                    }
                    
                    .titre_nos_missions {
                        @extend %titre;
                    }
                    
                    .margin_icons_mission {
                        @extend %margin_mision;
                        h2 {
                            @extend %h2_mission;
                        }
                    }
                    
                    .margin_media_queries {
                        @extend %margin_mision_media_queries;
                        div {
                            height: 150px;
                        }
                        h2 {
                            @extend %h2_mission;
                        }
                    }
                    /* j'ai désiré faire le média queries avec Bootstrap met je n'y suis pas parvenu, alors je l'ai fait en CSS */
                    /* un média queries pour remonter le logo de l'œil du texte ÉDUQUER */
                    
                    @media screen and (min-width: 768px) {
                        .margin_media_queries {
                            margin: 2em 2.5em 0 2.5em;
                        }
                        .margin_icons_mission {
                            margin-top: 2em;
                        }
                    }
                    /*------------------------ section QUI SOMMES NOUS -------------------------------*/
                    
                    .qui_sommes_nous {
                        background: darken($color_blue_light, 5%);
                    }
                    
                    .titre_qui_sommes_nous {
                        @extend %titre;
                        margin-bottom: 2em;
                    }
                    /*--------------- section NOTRE ÉQUIPE -------------------*/
                    
                    #anchor_equipe {
                        display: block;
                        position: relative;
                        bottom: 1.6em;
                    }
                    
                    .notre_equipe {
                        h1 {
                            @extend %titre;
                            padding: 1em 0 0.5em 0;
                        }
                        h4 {
                            font-size: 1em;
                            color: rgb(0, 0, 0);
                            text-decoration: underline;
                        }
                        p {
                            line-height: 1.3em;
                            font-size: 0.95em;
                        }
                    }
                    
                    .card-size {
                        width: 19em;
                        .card-body-height {
                            height: 19em;
                        }
                    }
                    
                    .style_card {
                        box-shadow: 0px 0px 20px 1px #00000098;
                        border-radius: 1em;
                        img {
                            border-radius: 1em 1em 0.3em 0.3em;
                            box-shadow: 0px 10px 13px -3px rgba(0, 0, 0, 0.562);
                        }
                    }
                    /*------------------- effet dynamique sur les boutons de la section notre équipe -----------------------*/
                    
                    .bouton_telephone {
                        @extend %margin_icons_notre_equipe;
                        border-radius: 2rem;
                        box-shadow: 20px 38px 34px -10px rgba(0, 0, 0, 0.671);
                        background: transparent;
                        transition: box-shadow .5s ease;
                        animation-direction: alternate;
                        &:hover {
                            box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, 0.425);
                        }
                    }
                    /*------------------- effet dynamique sur les boutons de la section notre équipe -----------------------*/
                    
                    .bouton_mail {
                        @extend %margin_icons_notre_equipe;
                        border-radius: 2rem;
                        box-shadow: 20px 38px 34px -10px rgba(0, 0, 0, 0.671);
                        background: transparent;
                        transition: all .5s ease;
                        &:hover {
                            box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, 0.425);
                        }
                    }
                    
                    .popover {
                        width: 11em;
                        height: auto;
                        font-size: 1em;
                        text-align: center;
                    }
                    /*------------------ FOOTER --------------------------------*/
                    
                    .footer {
                        background: black;
                        padding-bottom: 1em;
                        li {
                            list-style: none;
                        }
                    }
                    
                    .icons_footer {
                        vertical-align: -0.125em;
                        color: $color_icons_footer;
                        font-size: 2.4em;
                        margin-right: 0.2em;
                    }
                    
                    .logo_copyright {
                        font-weight: 700;
                        color: $color_icons_footer;
                        font-size: 1.8em;
                    }
                    /* un média queries pour le footer*/
                    
                    @media screen and (min-width: 900px) {
                        .footer {
                            background: black;
                            padding-bottom: 1em;
                        }
                        .logo_footer {
                            width: 20em;
                            margin-top: 1em;
                        }
                        .icons_footer {
                            vertical-align: -0.125em;
                            color: $color_icons_footer;
                            font-size: 5em;
                            margin-right: 0.5em;
                        }
                        .logo_copyright {
                            font-weight: 700;
                            color: $color_icons_footer;
                            font-size: 5em;
                        }
                    }
                    /*--------------- section card salamandre ---------------*/
                    
                    .bodySalamandre {
                        @extend %formate_body;
                    }
                    /*--------------- animation de la salamandre ---------------*/
                    
                    .salamandreDécoration {
                        position: relative;
                        z-index: 1;
                        left: 0.5em;
                        bottom: 3em;
                        width: 7em;
                        filter: drop-shadow(20px 30px 18px black);
                    }
                    /* ----------------animation de la salamandre sur la card----------------- */
                    
                    .sticky-top {
                        position: sticky;
                        z-index: 2;
                    }
                    
                    .message_click_pop {
                        position: absolute;
                        z-index: 3;
                        right: 35%;
                        bottom: 105%;
                        opacity: 0;
                        background: #e9e9e9b6;
                        border-radius: 0.5em;
                        font-size: 1.5em;
                        font-family: $merendia_skinny;
                        text-align: center;
                        width: 8em;
                        border: rgb(92, 92, 92) solid 0.2em;
                        animation: Test 8s;
                    }
                    
                    @media screen and (min-width: 601px) {
                        .message_click_pop {
                            right: 55%;
                            bottom: 107%;
                        }
                    }
                    
                    @keyframes Test {
                        0% {
                            opacity: 0;
                        }
                        5% {
                            opacity: 1;
                        }
                        10% {
                            opacity: 1;
                        }
                        20% {
                            opacity: 0;
                        }
                        25% {
                            opacity: 1;
                        }
                        30% {
                            opacity: 1;
                        }
                        40% {
                            opacity: 0;
                        }
                        45% {
                            opacity: 1;
                        }
                        50% {
                            opacity: 1;
                        }
                        60% {
                            opacity: 0;
                        }
                        65% {
                            opacity: 1;
                        }
                        90% {
                            opacity: 1;
                        }
                        100% {
                            opacity: 0;
                        }
                    }
                    
                    .animation {
                        animation: 3s linear 1s infinite alternate glissement;
                        animation-iteration-count: 2;
                    }
                    
                    @keyframes glissement {
                        from {
                            margin-left: 0%;
                            filter: drop-shadow(20px 30px 18px black);
                        }
                        to {
                            margin-left: 70%;
                            filter: drop-shadow(-20px 30px 18px black);
                        }
                    }
                    /* ----------------animation click de la salamandre sur la card----------------- */
                    
                    .animation:active {
                        animation: 3s linear 1s infinite alternate glissementHover;
                        animation-iteration-count: 2;
                    }
                    
                    @keyframes glissementHover {
                        from {
                            margin-left: 0%;
                            filter: drop-shadow(20px 30px 18px black);
                        }
                        to {
                            margin-left: 70%;
                            filter: drop-shadow(-20px 30px 18px black);
                        }
                    }
                    
                    .cardDisposition {
                        margin-top: 5em;
                        background: rgb(198, 228, 248);
                        padding: 0;
                        .salamandreCard {
                            position: relative;
                            bottom: 2em;
                            padding: 1.5em;
                            filter: drop-shadow(-10px 10px 12px black);
                        }
                        .feuilles-salamandre {
                            z-index: 0;
                            position: absolute;
                            filter: drop-shadow(5px 5px 8px rgb(0, 0, 0));
                            top: 2em;
                            width: 19.5em;
                            right: 0.3em;
                            height: auto;
                            transform: scaleY(1.2);
                        }
                    }
                    
                    .cardBox {
                        background-size: 19.9em;
                        width: 19.9em;
                        margin: 0.8em;
                        background: rgb(235, 202, 202);
                        box-shadow: rgb(36, 36, 36) 0px 0px 20px 0.1px;
                        padding: 0;
                        height: auto;
                        h5 {
                            font-family: $merendia_fat;
                            color: rgb(61, 61, 61);
                            font-size: 1.5em;
                            text-decoration: underline;
                        }
                        p {
                            font-family: $merendia_fat;
                            color: rgb(65, 65, 124);
                            font-size: 1em;
                            box-sizing: content-box;
                            &:last-of-type {
                                color: brown;
                            }
                        }
                        .card-background-text {
                            background: bisque;
                        }
                    }
                    /* ----------------un @media queries pour redimensionner la card salamandre----------------- */
                    
                    @media screen and (min-width: 601px) {
                        .cardDisposition {
                            margin-top: 5em;
                            background: rgb(198, 228, 248);
                            padding: 0;
                            .salamandreCard {
                                position: relative;
                                bottom: 2em;
                                padding: 1.5em;
                                filter: drop-shadow(-10px 10px 12px black);
                            }
                            .feuilles-salamandre {
                                z-index: 0;
                                position: absolute;
                                filter: drop-shadow(10px 10px 20px rgb(0, 0, 0));
                                top: -10px;
                                right: 2px;
                                width: 30em;
                                height: auto;
                                transform: scaleY(1);
                            }
                        }
                        .cardBox {
                            background: rgb(235, 202, 202);
                            background-size: 29.9em;
                            box-shadow: rgb(36, 36, 36) 0px 0px 20px 0.1px;
                            padding: 0;
                            width: 29.9em;
                            height: auto;
                            margin: 0.8em;
                        }
                    }
                    /*------------------------------ planing ---------------------------*/
                    
                    .calendrier {
                        background: rgb(206, 206, 206);
                        width: 20em;
                        height: auto;
                        padding: 0;
                        margin: 0.8em;
                        .texte-planing-head {
                            text-align: center;
                            font-family: $merendia_fat;
                            font-size: 1em;
                            margin: 0.2em;
                        }
                    }
                    
                    .texte-planing {
                        font-weight: 700;
                        font-family: "cursif";
                        font-size: 1.3em;
                        margin: 0.4em;
                        background: rgb(235, 235, 235);
                        background-size: 1em;
                        box-shadow: 1px 3px 5px 0.5px rgba(0, 0, 0, 0.75);
                        padding: 15px;
                        time {
                            color: rgb(0, 26, 255);
                        }
                        mark {
                            padding: 0;
                            background: none;
                            color: rgb(252, 0, 0);
                        }
                        .animateur {
                            text-decoration: underline;
                            color: rgb(87, 87, 87);
                            text-decoration-color: rgb(255, 0, 0);
                        }
                    }
                    
                    p.list-group-item {
                        color: rgb(0, 26, 255);
                        time {
                            color: rgb(0, 26, 255);
                        }
                    }
                    /*---------------------------------- bouton inscription -----------------------------*/
                    
                    .btn_position_inscription {
                        margin: 0.6em 0 0.3em 11em;
                    }
                    
                    .btn_position_inscription_unfolding {
                        margin: 0.6em 0 -0.8em 11em;
                    }
                    /*---------------------------------- un @media queries pour redimensionner le CALENDRIER -----------------------------*/
                    
                    @media screen and (min-width: 601px) {
                        .calendrier {
                            font-weight: 700;
                            background: rgb(206, 206, 206);
                            width: 30em;
                            height: auto;
                            padding: 0;
                            margin: 0.8em;
                            .texte-planing-head {
                                font-family: $merendia_fat;
                                font-size: 1em;
                                margin: 0;
                            }
                        }
                        .texte-planing {
                            text-align: inherit;
                            font-family: "cursif";
                            font-size: 0.97em;
                            margin: 0.4em;
                            background: rgb(235, 235, 235);
                            background-size: 1em;
                            box-shadow: 1px 3px 5px 0.5px rgba(0, 0, 0, 0.75);
                            padding: 0.4em 0em 0.4em 0.4em;
                            // padding: 0.7em;
                            time {
                                color: rgb(97, 99, 223);
                            }
                            mark {
                                padding: 0.20em;
                                color: rgb(0, 0, 0);
                                background: rgba(121, 123, 255, 0.295);
                                border-radius: 0.5em;
                            }
                            .animateur {
                                text-decoration: underline;
                                color: rgb(87, 87, 87);
                                text-decoration-color: rgb(255, 0, 0);
                            }
                        }
                        p.list-group-item {
                            display: flex;
                            justify-content: center;
                            width: 25.3em;
                            color: black;
                            time {
                                color: rgb(97, 99, 223);
                            }
                        }
                        .btn_position_inscription {
                            margin: 0.6em 0 0.8em 21.6em;
                        }
                        .btn_position_inscription_unfolding {
                            margin: 0.6em 0 -0.25em 21.6em;
                        }
                    }